<body>
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="mb-3">Login</h1>
            <p>Preencha os campos para acessar.</p>
        </div>
    </div>
    <form>
        <div class="py-5 text-center">
            <div class="container">
                <div class="form-group row">
                    <label for="Email" class="col-sm-2 col-form-label">Email:</label>
                    <div class="col-sm-10">
                        <input [(ngModel)]="usuario.email" [ngModelOptions]="{standalone: true}" type="email"
                            class="form-control" id="Email" placeholder="exemplo@hotmail.com" required #email="ngModel">
                        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

                            <div *ngIf="email.errors.required">
                                É necessário fornecer seu email.
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="Senha" class="col-sm-2 col-form-label">Senha:</label>
                    <div class="col-sm-10">
                        <input [(ngModel)]="usuario.senha" [ngModelOptions]="{standalone: true}" type="password"
                            class="form-control" id="Senha" placeholder="senha" required minlength="3" #senha="ngModel">
                            <div *ngIf="senha.invalid && (senha.dirty || senha.touched)" class="alert alert-danger">

                                <div *ngIf="senha.errors.required">
                                    É necessário fornecer sua senha.
                                </div>
    
                            </div>
                    </div>
                </div>
                <div *ngIf="email.invalid || senha.invalid">
                    <button (click)="login()" type="button" class="btn btn-success btn-lg"
                        disabled=true>Acessar</button>
                    <div class="alert alert-danger">
                        <div>
                            Preencha os campos
                        </div>
                    </div>
                </div>
                <div *ngIf="email.valid && senha.valid">
                    <button (click)="login()" type="button" class="btn btn-success btn-lg">Acessar</button>
                    <div class="alert alert-success">
                        <div>
                            Campos validados :)
                        </div>
                    </div>
                </div>
                <div class="py-4">
                    <button type="button" class="btn btn-danger">Esqueci minha senha</button>
                </div>
            </div>
        </div>
    </form>
    <div class="py-2 text-center">
        <p>Ainda não tem uma conta???</p>
        <button type="button" routerLink="/cadastro" class="btn btn-primary">Cadastre-se</button>
    </div>
</body>

<!--
      <div class="row">
          <div class="col-md-12">
            <h1 class="mb-3">Laboratório de práticas integrativas e complementares à saúde</h1>
            <p>É um espaço multiprofissional vinculado ao Centro de Ciência da Saúde (CCS), que trabalha com as 29
              Práticas
              Integrativas e Complementares em Saúde (PICS). Todas PICS oferecidas são gratuitas.</p>
          </div>
        </div>
    -->