<body>
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="mb-3">Agendamentos</h1>
        </div>
        <div class="col-md-12">
            <p>Ajuste o calendário de agendamentos</p>
        </div>
    </div>
    <div class="py-5 text-center">
        <p>Calendário da semana atual</p>
    </div>
    <div class="px-3 text-center">
        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Segunda</th>
                    <th scope="col">Terça</th>
                    <th scope="col">Quarta</th>
                    <th scope="col">Quinta</th>
                    <th scope="col">Sexta</th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                            <td>
                            <div *ngIf="agSegundaCount != 0"><a (click)="segunda()"><p *ngFor="let agendamento of agSegunda">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></a></div>
                            <p *ngIf="agSegundaCount == 0 || agendamentosCount == 0">Não há agendamentos cadastrados na segunda-feira</p>
                            </td>
                            <td>
                                <div *ngIf="agTercaCount != 0"><a (click)="terca()"><p *ngFor="let agendamento of agTerca">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></a></div>
                                <p *ngIf="agTercaCount == 0 || agendamentosCount == 0">Não há agendamentos cadastrados na terça-feira</p>
                            </td>
                            <td>
                                <div *ngIf="agQuartaCount != 0"><a (click)="quarta()"><p *ngFor="let agendamento of agQuarta">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></a></div>
                                <p *ngIf="agQuartaCount == 0 || agendamentosCount == 0">Não há agendamentos cadastrados na quarta-feira</p>
                            </td>
                            <td>
                                <div *ngIf="agQuintaCount != 0"><a (click)="quinta()"><p *ngFor="let agendamento of agQuinta">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></a></div>
                                <p *ngIf="agQuintaCount == 0 || agendamentosCount == 0">Não há agendamentos cadastrados na quinta-feira</p>
                            </td>
                            <td>
                                <div *ngIf="agSextaCount != 0"><a (click)="sexta()"><p *ngFor="let agendamento of agSexta">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></a></div>
                                <p *ngIf="agSextaCount == 0 || agendamentosCount == 0">Não há agendamentos cadastrados na sexta-feira</p>
                            </td>
                     </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <div class="py-2 text-center">
            <button (click)="abreCriar()" type="button" class="btn btn-primary">Criar agendamento</button>
        </div>
        <div class="py-2 text-center">
            <button type="button" routerLink="/formulario-pesquisa" class="btn btn-primary">Novo calendario</button>
        </div>
        <div *ngIf="cadastrar != false">
            <form>
                <div class="py-5 text-center">
                    <div class="container">
                        <div class="form-group row">
                            <label for="Terapeuta" class="col-sm-2 col-form-label">Terapeuta:</label>
                            <div>
                                <ngbd-dropdown-terapeuta></ngbd-dropdown-terapeuta>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="terapia" class="col-sm-2 col-form-label">Terapia:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="novoAgendamento.terapia" name="terapia" type="text"
                                    class="form-control" id="terapia" required placeholder="Terapia" #terapia="ngModel">
                                    <div *ngIf="terapia.invalid && (terapia.dirty || terapia.touched)" class="alert alert-danger">

                                        <div *ngIf="terapia.errors.required">
                                            É necessário fornecer a terapia
                                        </div>
            
                                    </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="dia" class="col-sm-2 col-form-label">Dia:</label>
                            <div class="col-sm-10">
                                <button *ngFor="let dia of semana" class="btn btn-warning px-5" (click)="select(dia)">{{dia}}</button>
                                <!--<input [(ngModel)]="diaa" type="text" ngbDatepicker #d="ngbDatepicker">
                                <button (click)="d.toggle()">Toggle</button>-->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="hora" class="col-sm-2 col-form-label">Hora:</label>
                            <div class="col-sm-10">
                                    <input [(ngModel)]="novoAgendamento.hora" name="hora" type="text"
                                    class="form-control" id="terapia" required maxlength="5" placeholder="Hora do agendamento" #hora="ngModel">
                                <!--<ngbd-timepicker-basic></ngbd-timepicker-basic>-->
                                <div *ngIf="hora.invalid && (hora.dirty || hora.touched)" class="alert alert-danger">

                                    <div *ngIf="hora.errors.required">
                                        É necessário fornecer a hora
                                    </div>

                                    <div *ngIf="hora.errors.maxlength">
                                        A hora não pode conter mais de 5 caracteres
                                    </div>
        
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lugar" class="col-sm-2 col-form-label">Local:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="novoAgendamento.lugar" name="lugar" type="text" class="form-control"
                                    id="lugar" required placeholder="Local do agendamento" #lugar="ngModel">
                                    <div *ngIf="lugar.invalid && (lugar.dirty || lugar.touched)" class="alert alert-danger">

                                        <div *ngIf="lugar.errors.required">
                                            É necessário fornecer o local
                                        </div>
            
                                    </div>
                            </div>
                        </div>
                        <ngx-spinner bdOpacity = 0.9 bdColor = "rgba(0,0,0,0)" size="medium" color = "#00ffc3" type="line-spin-clockwise-fade" [fullScreen] = "true"><p style="color: white">Carregando...</p></ngx-spinner>
                        <div *ngIf="terapia.valid && hora.valid && lugar.valid && diaSelecionado != null" class="py-2">
                            <button  (click)="criarAgendamento()" type="button"
                                class="btn btn-success btn-lg">Criar</button>
                                <div *ngIf="criou == true" class="alert alert-success">
                                    <div>
                                        Agendamento criado com sucesso!!!
                                    </div>
                                </div>
                                <div *ngIf="naoCriou == true" class="alert alert-danger">
                                    <div>
                                        Não foi possível criar o agendamento
                                    </div>
                                </div>
                                <div class="alert alert-success">
                                    <div>
                                        Campos validados :)
                                    </div>
                                </div>
                        </div>
                        <div *ngIf="terapia.invalid || hora.invalid || lugar.invalid || diaSelecionado == null" class="py-2">
                            <button  (mouseenter)="verificaSelecionado()" type="button"
                                class="btn btn-success btn-lg" disabled=true>Criar</button>
                                <div class="alert alert-danger">
                                    <div>
                                        Preencha os campos...
                                    </div>
                                </div>
                        </div>
                        <div class="py-2">
                            <button (click)="cancelar()" type="button" class="btn btn-danger btn-lg">Cancelar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>