<div class="modal-header">
  <h4 class="modal-title" id="modal-agendar-title">Cadastrar agendamento:</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="py-5 text-center">
      <div *ngIf="agendamento != null" class="container">
        <div class="form-group row">
          <label for="terapia" class="col-sm-2 col-form-label">Terapia:</label>
          <div class="col-sm-10">
            <p>{{agendamento.terapia}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label for="dia" class="col-sm-2 col-form-label">Dia:</label>
          <div class="col-sm-10">
            <p>{{agendamento.terapia}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label for="hora" class="col-sm-2 col-form-label">Hora:</label>
          <div class="col-sm-10">
            <p>{{agendamento.terapia}}</p>
          </div>
        </div>
        <div class="form-group row">
          <label for="lugar" class="col-sm-2 col-form-label">Lugar:</label>
          <div class="col-sm-10">
            <p>{{agendamento.terapia}}</p>
          </div>
        </div>
        <div>
          <button (click)="agendar(agendamento.idterapia)" type="button" class="btn btn-success btn-lg">Agendar</button>
          <button (click)="close()" type="button" class="btn btn-success btn-lg">Cancelar</button>
        </div>
      </div>
      <div class="text-center">
        <label *ngIf="mensagem != null">{{mensagem}]</label>
          </div>
      </div>
  </form>
    </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">Ok</button>
  </div>

<hr>

<pre>{{closeResult}}</pre>