<body>
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="mb-3">Formulário de pesquisa</h1>
            <p>Preencha o formulário de pesquisa para acessar os agendamentos.</p>
        </div>
    </div>
    <form>
        <div class="py-5 text-center">
            <div class="col-md-12">
                <h1 class="mb-3">UNIVERSIDADE FEDERAL DE SANTA MARIA<br>
                    CENTRO DE CIÊNCIA DA SAÚDE (CCS)<br>
                    LABORATÓRIO DE PRÁTICAS INTEGRATIVAS E COMPLEMENTARES EM SAÚDE (LAPICS)</h1>
                <p><b>Roteiro de entrevista pré sessão de Práticas Integrativas e Complementares em Saúde (PICS)</b></p>
            </div>
            <div class="py-2">
                <p><b>Dados de Identificação</b></p>
            </div>
            <div class="container">
                <div class="form-group row">
                    <label for="Nome" class="col-sm-2 col-form-label">Nome:</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="Nome" placeholder="exemplo@hotmail.com">
                    </div>
                </div>
                <!--SEXO RADIO BUTTONS-->
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Sexo">Sexo:</label>
                        <div class="btn-group btn-group-toggle" data-toggle="buttons">
                            <div class="btn btn-secondary">
                                <input type="radio" name="opcao" id="F" checked> F
                            </div>
                            <div class="btn btn-secondary">
                                <input type="radio" name="opcao" id="M"> M
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="idade">idade:</label>
                        <input type="text" class="form-control" id="idade" placeholder="">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="DataNasc">Data de nascimento:</label>
                        <input type="text" class="form-control" id="DataNasc" placeholder="">
                    </div>
                </div>
                <div class="form row">
                    <label for="Telefone" class="col-sm-2 col-form-label">Telefone:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Telefone" placeholder="">
                    </div>
                    <label for="Naturalidade" class="col-sm-2 col-form-label">Naturalidade:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Naturalidade" placeholder="">
                    </div>
                </div>
                <div class="form row">
                    <label for="Profissao" class="col-sm-2 col-form-label">Profissão:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Profissao" placeholder="">
                    </div>
                    <label for="Religiao" class="col-sm-2 col-form-label">Religião:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="Religiao" placeholder="">
                    </div>
                </div>
                <div class="py-2">
                    <p><b>Anamnese</b></p>
                </div>
                <div class="form-group">
                    <label for="Pergunta1">
                        1. Faz uso de algum tipo de medicamento? Em caso afirmativo, qual(uais)?
                    </label>
                    <input type="text" class="form-control" id="Pergunta1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="Pergunta2">
                        2. Há efetividade no uso do(s) medicamento(s)? Há algum efeito colateral ou não desejado?
                        Qual(uais)?
                    </label>
                    <input type="text" class="form-control" id="Pergunta2" placeholder="">
                </div>
                <div class="form-group">
                    <label for="Pergunta3">
                        3. Faz uso de algum tipo de erva ou chá? Em caso afirmativo, qual(uais)?
                    </label>
                    <input type="text" class="form-control" id="Pergunta3" placeholder="">
                </div>
                <div class="form-group">
                    <label for="Pergunta4">
                        4. Há efetividade no uso da(s) erva(s) ou chá(s)? Há algum efeito colateral ou não desejado?
                        Qual(uais)?
                    </label>
                    <input type="text" class="form-control" id="Pergunta4" placeholder="">
                </div>
                <div class="form-group">
                    <label for="Pergunta5">
                        5. Possui alguma doença diagnosticada por médico (p.ex: depressão, hipertensão, etc.)? Em caso
                        afirmativo, qual(uais)?
                    </label>
                    <input type="text" class="form-control" id="" placeholder="">
                </div>
                <div class="form-group">
                    <label for="Pergunta6">
                        6. Faz algum tratamento com especialista? Em caso afirmativo, qual(uais) especialidade(s) (p.
                        ex: cardiologista, psicólogo, pneumologista, etc.) e há quanto tempo?
                    </label>
                    <input type="text" class="form-control" id="Pergunta6" placeholder="">
                </div>
                <div class="form-group">
                    <label for="Pergunta7">
                        7. O que você costuma sentir em termos físicos?
                        <!--Check Boxes-->
                        <div class="btn-group-toggle" data-toggle="buttons">
                            <div class="row">
                                <input type="checkbox"> Dor muscular
                                <input type="checkbox"> Cansaço
                                <input type="checkbox"> Fadiga
                                <input type="checkbox"> Aceleração do coração
                            </div>
                            <div class="row">
                                <input type="checkbox"> Suor excessivo
                                <input type="checkbox"> Dificuldade para pegar no sono
                                <input type="checkbox"> Insônia
                            </div>
                            <div class="row">
                                <input type="checkbox"> Constipação
                                <input type="checkbox"> Gripe frequente
                                <input type="checkbox"> Outro
                                <input type="text" class="form-control" id="Pergunta7obs" placeholder="">
                            </div>
                        </div>
                    </label>
                </div>
                <div class="form-group">
                    <label for="Pergunta8"></label>
                    8. O que você costuma sentir em termos emocionais?
                    <!--Check boxes-->
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <div class="row">
                            <input type="checkbox"> Felicidade
                            <input type="checkbox"> Tristeza
                            <input type="checkbox"> Estresse
                            <input type="checkbox"> Bem-estar
                            <input type="checkbox"> Depressão
                        </div>
                        <div class="row">
                            <input type="checkbox"> Ansiedade
                            <input type="checkbox"> Impaciência
                            <input type="checkbox"> Outro:
                            <input type="text" class="form-control" id="Pergunta8outros" placeholder="">
                            <label for="">
                                Obs.:
                            </label>
                            <input type="text" class="form-control" id="Pergunta8obs" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="">
                    <label for="Pergunta9">
                        9. Como se dão suas relações interpessoais(p. ex: muitas brigas, pouco diálogo, afastamentos,
                        etc.)? Comente.
                    </label>
                    <div class="form-group row">
                        <label for="Pergunta9a">
                            Família:
                        </label>
                        <input type="text" class="form-control" id="Pergunta9a" placeholder="">
                    </div>
                    <div class="form-group row">
                        <label for="Pergunta9b">
                            Trabalho:
                        </label>
                        <input type="text" class="form-control" id="Pergunta9b" placeholder="">
                    </div>
                    <div class="form-group row">
                        <label for="Pergunta9c">
                            Amigos:
                        </label>
                        <input type="text" class="form-control" id="Pergunta9c" placeholder="">
                    </div>
                    <div class="form-group row">
                        <label for="Pergunta9d">
                            Parceiro/cônjuge:
                        </label>
                        <input type="text" class="form-control" id="Pergunta9d" placeholder="">
                    </div>
                </div>
                <div class="">
                    <label for="Pergunta10">
                        10. Como são seus hábitos alimentares? Com que frequência ingere determinados
                        alimentos e bebidas? Comente.
                    </label>
                    <div class="form-group row">
                        <label for="Pergunta10a">
                            Alimentos saudáveis:
                        </label>
                        <input type="text" class="form-control" id="Pergunta10a" placeholder="">
                    </div>
                    <div class="form-group row">
                        <label for="Pergunta10b">
                            Alimentos não saudáveis:
                        </label>
                        <input type="text" class="form-control" id="Pergunta10b" placeholder="">
                    </div>
                    <div class="form-group row">
                        <label for="Pergunta10c">
                            Bebidas alcoólicas:
                        </label>
                        <input type="text" class="form-control" id="Pergunta10c" placeholder="">
                    </div>
                    <div class="form-group row">
                        <label for="Pergunta10d">
                            Água:
                        </label>
                        <input type="text" class="form-control" id="Pergunta10d" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Pergunta11">
                        11. Você possui algum vício? Em caso afirmativo, qual(uais)?
                    </label>
                    <input type="text" class="form-control" id="Pergunta11" placeholder="">
                </div>
                <div class="py-2">
                    <p><b>PICS</b></p>
                </div>
                <div class="form-group">
                    <label for="Pergunta12">
                        1. Você já ouviu falar sobre terapias integrativas e complementares? Em caso afirmativo, marque
                        quais:
                    </label>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <div class="row">
                            <input type="checkbox"> Acupuntura
                            <input type="checkbox"> Arteterapia
                            <input type="checkbox"> Osteopatia
                            <input type="checkbox"> Apiterapia
                            <input type="checkbox"> Geoterapia
                        </div>
                        <div class="row">
                            <input type="checkbox"> Homeopatia
                            <input type="checkbox"> Ayurveda
                            <input type="checkbox"> Quiropraxia
                            <input type="checkbox"> Aromaterapia
                            <input type="checkbox"> Hipnoterapia
                        </div>
                        <div class="row">
                            <input type="checkbox"> Fitoterapia
                            <input type="checkbox"> Biodança
                            <input type="checkbox"> Reflexoterapia
                            <input type="checkbox"> Bioenergética
                            <input type="checkbox"> Imposição de mãos
                        </div>
                        <div class="row">
                            <input type="checkbox"> Antroposofia
                            <input type="checkbox"> Dança circular
                            <input type="checkbox"> Reiki
                            <input type="checkbox"> Constelação familiar
                            <input type="checkbox"> Ozonioterapia
                        </div>
                        <div class="row">
                            <input type="checkbox"> Termalismo
                            <input type="checkbox"> Meditação
                            <input type="checkbox"> Shantala
                            <input type="checkbox"> Cromoterapia
                            <input type="checkbox"> Terapia de florais
                        </div>
                        <div class="row">
                            <input type="checkbox"> Musicoterapia
                            <input type="checkbox"> Terapia comunitária integrativa
                        </div>
                        <div class="row">
                            <input type="checkbox"> Naturopatia
                            <input type="checkbox"> Yoga
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Pergunta13">
                        2. Por que você buscou a(s) terapia(s) integrativa(s)?
                    </label>
                    <input type="text" class="form-control" id="Pergunta13" placeholder="">
                </div>
                <div class="form-group">
                    <label for="Pergunta14">
                        3. Você acredita nas terapias integrativas e complementares?
                    </label>
                    <!--Radio buttons para sim e não-->>
                </div>
                <div class="form-group">
                    <label for="Pergunta15">
                        4. Você já vivenciou alguma terapia integrativa e complementar?
                    </label>
                    <button type="radio" name="" id="Pergunta7">Sim</button>
                    <button type="radio" name="" id="Pergunta7">Não</button>
                    <!--Radio button não e sim com campo para qual(uais)-->
                    <input type="text" class="form-control" id="Pergunta15quais" placeholder="">
                </div>
                <div class="form-group">
                    <label for="Pergunta16">
                        5. Como você considerou os resultados da(s) terapia(s) que já vivenciou?
                    </label>
                    <!--Radio buttons para Positivo, negativo ou indiferente-->
                </div>
                <div class="form-group">
                    <label for="Pergunta17">
                        Você tem algum tipo de habilidade parapsíquica?
                    </label>
                    <!--Checkboxes para intuições, precognições, retrocognições, clarividencia, clariaudiencia, outras com input text-->>
                </div>
                <div class="py-2">
                    <p><b>*Precognições:</b> informações sobre um possível futuro.
                        <br><b>*Retrocognições:</b> informações de vidas passadas.
                        <br><b>*Clarividência:</b> vê realidades não-físicas, energias circundantes, auras.
                        <br><b>*Clariaudiência:</b> pode ouvir eventos, ocorrendo a longa distância, no mundo físico, e
                        eventos ocorrendo em dimensões não físicas.
                        <br> Referência: Instituto de Pesquisas Projeciológicas e Bioenergéticas (2019)</p>
                </div>
                <div class="py-2">
                    <p>IMPORTANTE: observações, críticas e/ou sugestões podem ser feitas por meio do e-mail
                        lapics@ufsm.br</p>
                </div>

                <!--Origem/indicação: RADIO BUTTONS-->
                <div>

                    <button type="button" class="btn btn-success btn-lg">Enviar</button>
                </div>
            </div>
        </div>
    </form>
</body>

<!--
      <div class="row">
          <div class="col-md-12">
            <h1 class="mb-3">Laboratório de práticas integrativas e complementares à saúde</h1>
            <p>É um espaço multiprofissional vinculado ao Centro de Ciência da Saúde (CCS), que trabalha com as 29
              Práticas
              Integrativas e Complementares em Saúde (PICS). Todas PICS oferecidas são gratuitas.</p>
          </div>
        </div>
    -->