<body>
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="mb-3">Agendamentos</h1>
        </div>
        <div class="col-md-12">
            <p>Faça seus agendamentos aqui!<br>
                Os dias com agendamentos diponíveis aparecem verde.</p>
        </div>
    </div>
    <div class="px-3 text-center">
        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Segunda</th>
                    <th scope="col">Terça</th>
                    <th scope="col">Quarta</th>
                    <th scope="col">Quinta</th>
                    <th scope="col">Sexta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div *ngIf="agSegundaCount != 0 && agSegundaDisponivel == false && agSegundaCount != null" class="alert alert-danger"><p *ngFor="let agendamento of agSegunda">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></div>
                        <div *ngIf="agSegundaCount != 0 && agSegundaDisponivel == true" class="alert alert-success"><p *ngFor="let agendamento of agSegunda">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></div>
                        <div *ngIf="agSegundaCount != 0 && agSegundaDisponivel == true" class="alert alert-success"><button (click)="segunda()" class="btn btn-outline-info">Ver</button></div>
                        <div *ngIf="agSegundaCount == 0 || agendamentosCount == 0 || agSegundaCount == null" class="alert alert-danger">Não há agendamentos cadastrados na segunda-feira</div>
                    </td>
                    <td>
                        <div *ngIf="agTercaCount != 0 && agTercaDisponivel == false && agTercaCount != null" class="alert alert-danger"><p *ngFor="let agendamento of agTerca">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></div>
                        <div *ngIf="agTercaCount != 0 && agTercaDisponivel == true" class="alert alert-success"><p *ngFor="let agendamento of agTerca">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></div>
                        <div *ngIf="agTercaCount != 0 && agTercaDisponivel == true" class="alert alert-success"><button (click)="terca()" class="btn btn-outline-info">Ver</button></div>
                        <div *ngIf="agTercaCount == 0 || agendamentosCount == 0 || agTercaCount == null" class="alert alert-danger">Não há agendamentos cadastrados na terça-feira</div>
                    </td>
                    <td>
                        <div *ngIf="agQuartaCount != 0 && agQuartaDisponivel == false && agQuartaCount != null" class="alert alert-danger"><p *ngFor="let agendamento of agQuarta">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></div>
                        <div *ngIf="agQuartaCount != 0 && agQuartaDisponivel == true" class="alert alert-success"><p *ngFor="let agendamento of agQuarta">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></div>
                        <div *ngIf="agQuartaCount != 0 && agQuartaDisponivel == true" class="alert alert-success"><button (click)="quarta()" class="btn btn-outline-info">Ver</button></div>                        
                        <div *ngIf="agQuartaCount == 0 || agendamentosCount == 0 || agQuartaCount == null" class="alert alert-danger">Não há agendamentos cadastrados na quarta-feira</div>
                    </td>
                    <td>
                        <div *ngIf="agQuintaCount != 0 && agQuintaDisponivel == false && agQuintaCount != null" class="alert alert-danger"><p *ngFor="let agendamento of agQuinta">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></div>
                        <div *ngIf="agQuintaCount != 0 && agQuintaDisponivel == true" class="alert alert-success"><p *ngFor="let agendamento of agQuinta">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></div>
                        <div *ngIf="agQuintaCount != 0 && agQuintaDisponivel == true" class="alert alert-success"><button (click)="quinta()" class="btn btn-outline-info">Ver</button></div>
                        <div *ngIf="agQuintaCount == 0 || agendamentosCount == 0 || agQuintaCount == null" class="alert alert-danger">Não há agendamentos cadastrados na quinta-feira</div>
                    </td>
                    <td>
                        <div *ngIf="agSextaCount != 0 && agSextaDisponivel == false && agSextaCount != null" class="alert alert-danger"><p *ngFor="let agendamento of agSexta">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p></div>
                        <div *ngIf="agSextaCount != 0 && agSextaDisponivel == true" class="alert alert-success"><p *ngFor="let agendamento of agSexta">{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</div>
                        <div *ngIf="agSextaCount != 0 && agSextaDisponivel == true" class="alert alert-success"><button (click)="sexta()" class="btn btn-outline-info">Ver</button></div>
                        <div *ngIf="agSextaCount == 0 || agendamentosCount == 0 || agSextaCount == null" class="alert alert-danger">Não há agendamentos cadastrados na sexta-feira</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--<div *ngIf="escolheu == true">
        <div class="text-center" *ngIf="agendamentosCount != 0">
            <div *ngFor="let agendamento of agendamentosEscolhidos">
              <p>{{agendamento.terapia}} : {{agendamento.dia}} : {{agendamento.hora}}</p><button *ngIf="agendamento.disponivel == sim" (click)="agendar(agendamento.idagendamento)">Agendar</button>
            </div>
          </div>
    </div> -->
</body>