<body>
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="mb-3">Agendamentos</h1>
        </div>
        <div class="col-md-12">
            <p>Faça seus agendamentos aqui!<br>
                Os dias com agendamentos diponíveis aparecem verde.</p>
        </div>
    </div>
    <div>
        <table class="table table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Turno</th>
                    <th scope="col">Segunda</th>
                    <th scope="col">Terça</th>
                    <th scope="col">Quarta</th>
                    <th scope="col">Quinta</th>
                    <th scope="col">Sexta</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Manhã<br>
                        (8h-13h20)</td>
                    <td>Reiki<br>
                        12h-13h20<br>
                        2 horários</td>
                    <td>Reiki<br>
                        8h-13h20<br>
                        6 horários</td>
                    <td>Thetahealing|Barras de Access|Auriculoterapia<br>
                        9h-13h<br>
                        9 horários</td>
                    <td>Barras de Access(quinzenal)|Kinesiologia<br>
                        8h30-13h<br>
                        10 horários</td>
                    <td>Reiki/Cromoterapia|Reiki<br>
                        8h30-11h<br>
                        6 horários</td>
                </tr>
                <tr>
                    <td>Tarde<br>
                        (8h-13h)</td>
                    <td>Agendamentos(atual)</td>
                    <td>Barras de Access(quinzenal)|Barras de access/Reiki|Auriculoterapia<br>
                        13h30-17h20<br>
                        19 horários</td>
                    <td>Kinesiologia|Auriculoterapia|Hipnoterapia<br>
                        13h20-19h<br>
                        8 horários</td>
                    <td>Reiki<br>
                        13h30-16h10<br>
                        12 horários</td>
                    <td>Reiki<br>
                        14h40-17h40<br>
                        12 horários</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="py-2 text-center">
        <button type="button" routerLink="/formulario-pesquisa" class="btn btn-primary">Formulário de pesquisa</button>
    </div>
</body>