<div class="modal-header">
  <h4 class="modal-title" id="modal-ajustar-title">Cadastrar agendamento:</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="py-5 text-center">
      <div class="container">
        <div class="form-group row">
          <label for="Terapeuta" class="col-sm-2 col-form-label">Terapeuta:</label>
          <div>
            <ngbd-dropdown-terapeuta></ngbd-dropdown-terapeuta>
          </div>
        </div>
        <div class="form-group row">
          <label for="terapia" class="col-sm-2 col-form-label">Terapia:</label>
          <div class="col-sm-10">
            <input name="terapia" type="text" class="form-control" id="terapia" required placeholder="Terapia">

            <!--<div *ngIf="terapia.invalid && (terapia.dirty || terapia.touched)" class="alert alert-danger">

                                <div *ngIf="terapia.errors.required">
                                    É necessário fornecer a terapia
                                </div>
    
                            </div>-->
          </div>
        </div>
        <div class="form-group row">
          <label for="dia" class="col-sm-2 col-form-label">Dia:</label>
          <div class="col-sm-10">
            <button *ngFor="let dia of semana" class="btn btn-warning px-5" (click)="select(dia)">{{dia}}</button>
            <!--<input [(ngModel)]="diaa" type="text" ngbDatepicker #d="ngbDatepicker">
                        <button (click)="d.toggle()">Toggle</button>-->
          </div>
        </div>
        <div class="form-group row">
          <label for="hora" class="col-sm-2 col-form-label">Hora:</label>
          <div class="col-sm-10">
            <input name="hora" type="text" class="form-control" id="hora" required maxlength="5"
              placeholder="Hora do agendamento">
            <!--<ngbd-timepicker-basic></ngbd-timepicker-basic>-->
            <!--<div *ngIf="hora.invalid && (hora.dirty || hora.touched)" class="alert alert-danger">

                            <div *ngIf="hora.errors.required">
                                É necessário fornecer a hora
                            </div>

                            <div *ngIf="hora.errors.maxlength">
                                A hora não pode conter mais de 5 caracteres
                            </div>

                        </div>-->
          </div>
        </div>
        <div class="form-group row">
          <label for="lugar" class="col-sm-2 col-form-label">Local:</label>
          <div class="col-sm-10">
            <input name="lugar" type="text" class="form-control" id="lugar" required placeholder="Local do agendamento">

            <!--<div *ngIf="lugar.invalid && (lugar.dirty || lugar.touched)" class="alert alert-danger">

                                <div *ngIf="lugar.errors.required">
                                    É necessário fornecer o local
                                </div>
    
                            </div>-->
          </div>
        </div>
        <!--<ngx-spinner bdOpacity = 0.9 bdColor = "rgba(0,0,0,0)" size="medium" color = "#00ffc3" type="line-spin-clockwise-fade" [fullScreen] = "true"><p style="color: white">Carregando...</p></ngx-spinner>-->
        <!--<div *ngIf="terapia.valid && hora.valid && lugar.valid && diaSelecionado != null" class="py-2"> <div class="alert alert-success">
                            <div>
                                Campos validados :)
                            </div>
                        </div>-->
        <button (click)="criarAgendamento()" type="button" class="btn btn-success btn-lg">Criar</button>
        <div *ngIf="criou == true" class="alert alert-success">
          <div>
            Agendamento criado com sucesso!!!
          </div>
        </div>
        <div *ngIf="naoCriou == true" class="alert alert-danger">
          <div>
            Não foi possível criar o agendamento
          </div>
        </div>
        <!-- <div *ngIf="terapia.invalid || hora.invalid || lugar.invalid || diaSelecionado == null" class="py-2">
                    <button  (mouseenter)="verificaSelecionado()" type="button"
                        class="btn btn-success btn-lg" disabled=true>Criar</button>
                        <div class="alert alert-danger">
                            <div>
                                Preencha os campos...
                            </div>
                        </div>
                </div> -->
        <div class="py-2">
          <button (click)="close()" type="button" class="btn btn-danger btn-lg">Cancelar</button>
        </div>
      </div>
    </div>
  </form>
</div>