<body>
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="mb-3">Bem vindo ao seu perfil {{usuario.nome}}</h1>
            <p>Seus dados:</p>
        </div>
    </div>
    <div class="py-5 text-center">
        <div class="container">
            <p>Email:{{usuario.email}}</p>
            <p>Senha:{{usuario.senha}}</p>
            <p>Nome:{{usuario.nome}}</p>
            <p>CPF:{{usuario.cpf}}</p>
        </div>
    </div>

    <div class="py-5 text-center">
        <button (click)="editar()" type="button" class="btn btn-success btn-lg">Editar</button>
    </div>
</body>

<!--
          <div class="row">
              <div class="col-md-12">
                <h1 class="mb-3">Laboratório de práticas integrativas e complementares à saúde</h1>
                <p>É um espaço multiprofissional vinculado ao Centro de Ciência da Saúde (CCS), que trabalha com as 29
                  Práticas
                  Integrativas e Complementares em Saúde (PICS). Todas PICS oferecidas são gratuitas.</p>
              </div>
            </div>
        -->