<body>
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="mb-3">Terapeutas</h1>
        </div>
        <div class="col-md-12">
            <p>Terapeutas cadastrados:</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Senha</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody *ngIf="terapeutasCount != 0">
                    <tr *ngFor="let terapeuta of terapeutas">
                        <td>{{terapeuta.nome}}</td>
                        <td>{{terapeuta.cpf}}</td>
                        <td>{{terapeuta.email}}</td>
                        <td>*******</td>
                        <td><button class="btn btn-warning" (click)="editar(terapeuta.idusuario)">Editar</button><button class="btn btn-danger spacebutton" (click)="excluir(terapeuta.idusuario)">Excluir</button></td>
                    </tr>
                </tbody>
                <tbody *ngIf="terapeutasCount == 0">
                    <tr>
                        <td>Ainda não há terapeutas cadastrados.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="py-2 text-center">
        <button (click)="cadastrarTerapeuta()" type="button" class="btn btn-primary">Cadastrar Terapeuta</button>
    </div>
</body>