<body>
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="mb-3">Funcionários</h1>
        </div>
        <div class="col-md-12">
            <p>Gerenciamento de Funcionários</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive text-center">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Senha</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody *ngIf="funcionariosCount != 0">
                    <tr *ngFor="let funcionario of funcionarios">
                        <td>{{funcionario.nome}}</td>
                        <td>{{funcionario.cpf}}</td>
                        <td>{{funcionario.email}}</td>
                        <td>*******</td>
                        <td><button class="btn btn-warning" (click)="editar(funcionario.idusuario)">Editar</button><button class="btn btn-danger spacebutton" (click)="excluir(funcionario.idusuario)">Excluir</button></td>
                    </tr>
                </tbody>
                <tbody *ngIf="funcionariosCount == 0">
                    <tr>
                        <td>Ainda não há funcionarios cadastrados.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ngx-spinner bdOpacity = 0.9 bdColor = "rgba(0,0,0,0)" size="medium" color = "#00ffc3" type="line-spin-clockwise-fade" [fullScreen] = "true"><p style="color: white">Carregando...</p></ngx-spinner>
    <div class="py-2 text-center">
        <button (click)="cadastrarFuncionario()" type="button" class="btn btn-primary">Cadastrar funcionario</button>
    </div>
</body>