<body>
  <!--Carousel, criado com o ng.bootstrap-->
  <div class="container text-center">
    <app-carousel-basic></app-carousel-basic>
  </div>
  <!--Sobre o LAPICS-->
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">Laboratório de práticas integrativas e complementares à saúde</h1>
          <p>É um espaço multiprofissional vinculado ao Centro de Ciência da Saúde (CCS), que trabalha com as 29
            Práticas
            Integrativas e Complementares em Saúde (PICS). Todas PICS oferecidas são gratuitas.</p>
        </div>
      </div>
    </div>
  </div>
</body>